.section {
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;

  background: rgb(243, 243, 243);

  &__button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
.info {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
